__pycache__/
*.pyc
venv/
.env

.vscode/
.idea/
.DS_Store

build/
*.o
*.elf
*.bin

*.h5
*.ckpt
saved_model/
*.tflite
!src/model/kws_int8.tflite

dataset/
recordings/
speech_commands*/
*.wav
!test-data/*.wav

src/server/vosk-model-*/
src/firmware/config.h
*.log
